# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,2.32,94,100,21.65,overcast clouds
1,1,Port Alfred,ZA,-33.5906,26.8910,66.18,82,85,4.00,overcast clouds
2,2,Khatanga,RU,71.9667,102.5000,-11.27,97,100,13.87,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,56.82,71,75,4.61,broken clouds
4,4,Tiksi,RU,71.6872,128.8694,-10.84,91,100,13.96,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimun temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximun temperature you would like for your trip?"))

What is the minimun temperature you would like for your trip?70
What is the maximun temperature you would like for your trip?89

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & 
                                      (city_data_df["Max Temp"]>= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Bambous Virieux,MU,-20.3428,57.7575,73.65,60,40,12.66,scattered clouds
7,7,Pocone,BR,-16.2567,-56.6228,72.34,91,83,10.58,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,74.70,81,100,14.16,light rain
12,12,Kapaa,US,22.0752,-159.3190,80.19,73,5,4.00,clear sky
18,18,Comodoro Rivadavia,AR,-45.8667,-67.5000,76.86,23,20,24.16,few clouds
...,...,...,...,...,...,...,...,...,...,...
747,747,Bentiu,SS,9.2333,29.8333,75.20,38,4,4.34,clear sky
750,750,Manaure,CO,11.7751,-72.4445,81.86,77,76,9.19,broken clouds
751,751,Puerto Narino,CO,-3.7703,-70.3831,79.11,84,96,1.10,moderate rain
752,752,Kerema,PG,-7.9631,145.7785,80.64,80,96,4.85,overcast clouds
753,753,Cap Malheureux,MU,-19.9842,57.6142,71.47,63,40,7.00,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Bambous Virieux,MU,-20.3428,57.7575,73.65,60,40,12.66,scattered clouds
7,7,Pocone,BR,-16.2567,-56.6228,72.34,91,83,10.58,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,74.70,81,100,14.16,light rain
12,12,Kapaa,US,22.0752,-159.3190,80.19,73,5,4.00,clear sky
18,18,Comodoro Rivadavia,AR,-45.8667,-67.5000,76.86,23,20,24.16,few clouds
...,...,...,...,...,...,...,...,...,...,...
747,747,Bentiu,SS,9.2333,29.8333,75.20,38,4,4.34,clear sky
750,750,Manaure,CO,11.7751,-72.4445,81.86,77,76,9.19,broken clouds
751,751,Puerto Narino,CO,-3.7703,-70.3831,79.11,84,96,1.10,moderate rain
752,752,Kerema,PG,-7.9631,145.7785,80.64,80,96,4.85,overcast clouds
753,753,Cap Malheureux,MU,-19.9842,57.6142,71.47,63,40,7.00,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", 
                                   "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
5,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575
7,Pocone,BR,72.34,broken clouds,-16.2567,-56.6228
10,Rikitea,PF,74.70,light rain,-23.1203,-134.9692
12,Kapaa,US,80.19,clear sky,22.0752,-159.3190
18,Comodoro Rivadavia,AR,76.86,few clouds,-45.8667,-67.5000
...,...,...,...,...,...,...
747,Bentiu,SS,75.20,clear sky,9.2333,29.8333
750,Manaure,CO,81.86,broken clouds,11.7751,-72.4445
751,Puerto Narino,CO,79.11,moderate rain,-3.7703,-70.3831
752,Kerema,PG,80.64,overcast clouds,-7.9631,145.7785
753,Cap Malheureux,MU,71.47,scattered clouds,-19.9842,57.6142

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575,
7,Pocone,BR,72.34,broken clouds,-16.2567,-56.6228,
10,Rikitea,PF,74.70,light rain,-23.1203,-134.9692,
12,Kapaa,US,80.19,clear sky,22.0752,-159.3190,
18,Comodoro Rivadavia,AR,76.86,few clouds,-45.8667,-67.5000,
...,...,...,...,...,...,...,...
747,Bentiu,SS,75.20,clear sky,9.2333,29.8333,
750,Manaure,CO,81.86,broken clouds,11.7751,-72.4445,
751,Puerto Narino,CO,79.11,moderate rain,-3.7703,-70.3831,
752,Kerema,PG,80.64,overcast clouds,-7.9631,145.7785,
753,Cap Malheureux,MU,71.47,scattered clouds,-19.9842,57.6142,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_name = hotels["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        city = hotel_df.loc[index, "City"]
        print(f"Found {hotel_name} near {city}.")
    except (IndexError):
        print("Hotel not found... skipping.")

Found Casa Tia Villa near Bambous Virieux.
Found Hotel e Churrascaria Pantaneira near Pocone.
Found People ThankYou near Rikitea.
Found Sheraton Kauai Coconut Beach Resort near Kapaa.
Found Austral Hotel near Comodoro Rivadavia.
Found Paradise Inn near Avarua.
Found Broadwater Mariner Resort near Geraldton.
Found Villa Enata near Atuona.
Found Mercure Padang near Padang.
Found The Grace Sydney near Sydney.
Found Bora-Bora Pearl Beach Resort & Spa near Faanui.
Found Sea Lounge! Bar, Club & Restaurant near Itarema.
Hotel not found... skipping.
Found Tiara Labuan Hotel near Labuan.
Found Erlyn’s Sta Rosa City Home near Santa Rosa.
Found Hospitality Carnarvon near Carnarvon.
Found Hotel Aranzazú near Guadalajara.
Hotel not found... skipping.
Found Iglesia morava renovada near Iralaya.
Found Casa Laguna, Bed & Breakfast near Guerrero Negro.
Found Fengshui Residence near Port-Gentil.
Found Hilo Hawaiian Hotel near Hilo.
Found Paradise Bay Resort near Ahuimanu.
Hotel not found... skipping.
Found Finch Bay Galapagos Hotel near Puerto Ayora.
Found Isles Sunset Lodge near Butaritari.
Found Keleti Beach Resort near Vaini.
Found Hotel Mansión near Miraflores.
Found La Grace Hôtel near Kribi.
Found Rio Xingu Camping near Sao Felix Do Xingu.
Found HS Hotsson Smart Acapulco near Acapulco.
Found SEGAYA PROPERTY near Dingle.
Hotel not found... skipping.
Found Hotel Ponta Verde Maceió near Maceio.
Found Mini Central near Victoria.
Found Halane Hotel and Restaurent near Hobyo.
Found sekretariat IKA STAIN near Sampang.
Found Hosteria Sampedro near Rawson.
Found Hotel Arena Blanca near San Andres.
Found Pine Tree Motel near Katherine.
Found Shelly Bay Resort near Hervey Bay.
Found Pousada Tia Amélia near Oriximina.
Found Legacy Hotel near Kinango.
Found Hotel Vitória Palace near Vila Velha.
Found Hotel Saigon-PT near Phan Thiet.
Found Pondok Wisata Elim near Waingapu.
Found Sharif Plaza Hotel near Garissa.
Hotel not found... skipping.
Hotel not found... skipping.
Found Hotel novo Acre & Comercial Aguiar near Eirunepe.
Found Comfort Inn Hotel near Madang.
Found Villa Mar Colina near Yeppoon.
Found Maringe Lagoon Lodge near Buala.
Found Hotel Xaguate near Sao Filipe.
Found Bahiadomizil near Canavieiras.
Found Huarpes Hotel near San Luis.
Found COMBUESA near Ondjiva.
Found Minshuku Agaihama near Nishihara.
Found Casa de Adobe near Bulnes.
Found Backpackers Inn near Byron Bay.
Found Rumah Rizkina Olshops near Kambam.
Found Nuli Sapi near Samarai.
Found La Villa Mahatsara near Chirongui.
Found Puri Brata near Srandakan.
Found Shandrani Beachcomber Resort & Spa near Mahebourg.
Found Mantra Nelson Bay near Nelson Bay.
Found Antigua Residencia Galván near Palmas Bellas.
Found Nusa Island Retreat near Kavieng.
Found Penginapan Kim near Biak.
Found Daru Lodge near Daru.
Found Hotel Mayumir near Curumani.
Found Pousada Paraiso near Elesbao Veloso.
Found Pousada dos Navegantes near Caravelas.
Found Hotel Kou-Bugny near Vao.
Found Hotel Sussex near Cordoba.
Found Pousada Porto Praia near Arraial Do Cabo.
Found Scoop Guest House near Hithadhoo.
Found JABIR HOTEL near Bandarbeyla.
Hotel not found... skipping.
Found Agan-Hotel near Kismayo.
Found ALETHEIA Appartement Sinnamary near Sinnamary.
Found Hospedaje Bella Durmiente near Bellavista.
Found Bungalow 63 near Hambantota.
Found Hotel Fanilo near Vangaindrano.
Hotel not found... skipping.
Found Casa Dora, Bubaque near Bubaque.
Found Mahatallah Hotel near Wajir.
Found Pin Drop Hotel near Anloga.
Found SanBiz Lodge near Kirakira.
Hotel not found... skipping.
Found Raybow International Hotel near Takoradi.
Hotel not found... skipping.
Found Maui Sunset near Kihei.
Found Qeshm Kavan Hotel near Qeshm.
Found Floresta Amazonica Hotel near Alta Floresta.
Found Hotel Vitória near Gurupa.
Found Heritage Park Hotel near Honiara.
Found Mioki Hometel near Batuan.
Found Shanti Maurice Resort & Spa near Souillac.
Hotel not found... skipping.
Found Saigon Morin Hotel near Hue.
Found El Medina near Nouadhibou.
Found Hotel Premium Piauí near Urucui.
Found Red Sea Resort & Suites Mandera County near Mandera.
Found Sylvia Hotel near Maumere.
Found Tanna Lodge near Isangel.
Found LE SAMANA near Mana.
Found Jallo Kurundingoto Eco Tourist Camp near Gunjur.
Found Groote Eylandt Lodge near Alyangula.
Found Hôtel Le Dronmi near Cayenne.
Found Pirineos near San Cristobal.
Found Hotel Tesoro Los Cabos near Cabo San Lucas.
Found Manaus Hotéis Millennium near Manaus.
Found Trinity Plains Tourist Park near Mareeba.
Found Seagulls Inn Namatani near Namatanai.
Hotel not found... skipping.
Found Pension Oaoa near Tautira.
Found Cititel Penang near Georgetown.
Found Big Fish Guest House near Corn Island.
Found Hotel Kununurra near Kununurra.
Found Blackwater Motor Inn near Blackwater.
Found Marriott's Ko Olina Beach Club near Makakilo City.
Found Hotel Gualok near Presidencia Roque Saenz Pena.
Hotel not found... skipping.
Found Hotel Mourya Paradise near Kavali.
Found Hotel Port Dénia near Denia.
Found El Salvial near Tomatlan.
Found هتل گدروشیا near Chabahar.
Found Kost Pria near Meulaboh.
Found Hôtel & Restaurant DIANA Ambilobe near Ambilobe.
Found Hotel Clube Residencial Inn near Diadema.
Found Uruna Bay Retreat near Kieta.
Found Hotel JM Puerto del Rosario near Puerto Del Rosario.
Found فندق الدويم near Sawakin.
Found Pousada dos Chapurys near Xapuri.
Found Hotel Bressan near Pontes E Lacerda.
Found Auberge Bon Coin 02 near Lastoursville.
Found Maui Seaside Hotel near Kahului.
Found Pousada Porto De Canoas near Sao Joao Da Barra.
Found Lingot d’or near Kati.
Found Courtyard by Marriott Harlingen near Harlingen.
Found VS Villa near Kalmunai.
Found HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel near Salalah.
Found Thanda Vista B&B near Plettenberg Bay.
Found Leumerus Bungalows near Sola.
Found Atlantis Hotel near Bathsheba.
Found Rydges Port Macquarie near Port Macquarie.
Found Serra do Rio Hotel near Ibotirama.
Found El rranchito michuacan de ocampos near Coahuayana.
Found Ramada Hotel & Suites by Wyndham Ballina Byron near Ballina.
Found Shellharbour Resort & Conference Centre near Flinders.
Found Oceano near Inhambane.
Found Welcomhotel By ITC Hotels, Bay Island, Port Blair near Port Blair.
Hotel not found... skipping.
Found Veranda Paul et Virginie Hotel & Spa near Grand Gaube.
Hotel not found... skipping.
Found Motel Rez near Permatang Kuching.
Found Taloa Heights near Alofi.
Found Aldea del Bazar Hotel and Spa near Puerto Escondido.
Found Wisma Legoq Kost near Kroya.
Found Hotel Novo Horizonte near Labrea.
Found EYL AQUE SYSTEM near Eyl.
Found Lorengau Harbourside Hotel near Lorengau.
Found Numsai Khaosuay Resort Ranong near Ranong.
Found OYO 884 Rumoh PMI Hotel near Banda Aceh.
Found Kenara Colony House for Rent near Ormara.
Found Bichito near Chimore.
Found Axim Beach Resort And Spa near Axim.
Hotel not found... skipping.
Found International Lodge Motel near Mackay.
Found Pacific Coast Motel near Whakatane.
Found Hotel palance near Puerto Quijarro.
Hotel not found... skipping.
Found Westkai Nature Park near Basiad.
Found Dynasty Suites Redlands near Redlands.
Found LT Aparthotel near Praya.
Found The Esplanade Hotel near Port Hedland.
Found hotêl doufoulougou near Tabou.
Found Yas Hotel near Bushehr.
Found Hotel Gaudi near Mindelo.
Found La pousada near Camopi.
Hotel not found... skipping.
Found Rumah Bp.AR. ISMAIL near Bireun.
Found Soneva Fushi near Eydhafushi.
Found Hôtel Raiatea Lodge near Tevaitoa.
Found Paradise Hotel near Wanning.
Found Chez Zarkilou Issa near Filingue.
Found Timotel Hotel near Mersing.
Found Sunrise Attitude Hotel near Quatre Cocos.
Found Complexo da Familia near Xai-Xai.
Found Nabelchel Bungalows near Norsup.
Found Taitung Bali Suites Hotel near Taitung.
Found The Regency Hotel near Yanam.
Found Salinas Park Resort Maçarico AP101 near Salinopolis.
Found Pensao Casual near Dondo.
Found Alize Plage near Saint-Pierre.
Hotel not found... skipping.
Hotel not found... skipping.
Found Osprey Beach Hotel near Cockburn Town.
Hotel not found... skipping.
Found Melrose near Sambava.
Found Hotel Piesta near Trinidad.
Found Bushido Lodge near Kaeo.
Found Rydges Southbank Townsville near Townsville.
Hotel not found... skipping.
Found Green leaf near Kavaratti.

Found Guest Hotel near Manggar.
Found West Jontor near Kawalu.
Found Posada Quinta Mi Refugio near Altagracia De Orituco.
Found Diplomat Guest House near Torit.
Found Vahmoneh Lodge Vanimo near Vanimo.
Found The Sebel Kiama Harbourside near Kiama.
Found Marama Vineyard & Accomodation near Brightwater.
Found Kamaneahn Hotel Inc near Buchanan.
Found Hotel Conceição near Linhares.
Found Pal Business Shop near Koppal.
Found Fort Johnstone Hotel near Mangochi.
Found Tour Eiffel Hotel Benin near Porto Novo.
Found Cambuí Hotel near Seabra.
Found CityLife Wellington near Wellington.
Found Equi-lodge de Moindou near Moindou.
Found Ros Muskanan near Atambua.
Found Banjanay Hotel near Xuddur.
Found Idlers' Rest Beach Hotel near Black River.
Found Makkah Clock Royal Tower, A Fairmont Hotel near Mecca.
Found Elijah Worjloh near Zwedru.
Found Waigo Splash Hotel near Sorong.
Found Mubashar Quarters near Turbat.
Hotel not found... skipping.
Found Novo Hotel 5 Irmãos near Anori.
Found Golden Berries Hotel and Convention near Tabuk.
Found Maqna Hotel by Prasanthi near Gorontalo.
Found Storyboard Beach Resort near Kloulklubed.
Found Yos ega cv near Boyolangu.
Found Weligama Bay Resort near Weligama.
Found Hôtel BUMAK near Ilebo.
Found Hotel Ezequiel near Novo Aripuana.
Found Lani Kai Island Resort near Fort Myers Beach.
Found Estatua de Sahuaripa near Sahuaripa.
Found Leonardo Family Beach House 1 near Pundaguitan.
Found Rancho grande near Palora.
Found Nussyba near Kaduqli.
Found Hotel Syariah CN Darussalam near Sibolga.
Found Moon light Furnished Units near Umm Lajj.
Found La Case Bambou near Morondava.
Found CeBlue Villas & Beach Resort near The Valley.
Found Emerald Inn near Emerald.
Found Cricaré Praia Hotel near Conceicao Da Barra.
Found Orchid Main Camp Goubet near Jibuti.
Found Estancia Hotel - Jardim MS near Jardim.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Found Oceano near Maxixe.
Found Candlewood Suites Lake Jackson-Clute, an IHG Hotel near Lake Jackson.
Found jadeja jayendrasinh near Naliya.
Found ZINGARA 76ft Catamaran, full crew-all included near Road Town.
Found Grage Hotel Bengkulu near Bengkulu.
Found Wasai Hotel near Puerto Maldonado.
Found Hostal De Pedri near Corralillo.
Hotel not found... skipping.
Found DoubleTree by Hilton Hotel Los Angeles - Commerce near Commerce.
Found Le Gîte d’Iracoubo near Iracoubo.
Found Hacienda Gracia near Lubao.
Hotel not found... skipping.
Found Mövenpick Doha near Doha.
Found Butterfly Beach Hotel near Oistins.
Found Maia's Beach Resort near Sulangan.
Found The Palms Hotel near Beruwala.
Found Hotel Posada San Jose near Pochutla.
Found Hosteria Kindi Wasi near Puyo.
Found St. joseph catholic church near Kyaikkami.
Found Mandela hôtel near Bentiu.
Found Hotel Palaaima near Manaure.
Found Eware Refugio Amazonico near Puerto Narino.
Found Frena Lodge near Kerema.
Found Pereybere Hotel & Spa near Cap Malheureux.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575,Casa Tia Villa
7,Pocone,BR,72.34,broken clouds,-16.2567,-56.6228,Hotel e Churrascaria Pantaneira
10,Rikitea,PF,74.70,light rain,-23.1203,-134.9692,People ThankYou
12,Kapaa,US,80.19,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Comodoro Rivadavia,AR,76.86,few clouds,-45.8667,-67.5000,Austral Hotel
19,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
22,Geraldton,AU,70.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
24,Atuona,PF,77.79,scattered clouds,-9.8000,-139.0333,Villa Enata
26,Padang,ID,74.82,moderate rain,-0.9492,100.3543,Mercure Padang
27,Sydney,AU,73.58,clear sky,-33.8679,151.2073,The Grace Sydney

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575,Casa Tia Villa
7,Pocone,BR,72.34,broken clouds,-16.2567,-56.6228,Hotel e Churrascaria Pantaneira
10,Rikitea,PF,74.70,light rain,-23.1203,-134.9692,People ThankYou
12,Kapaa,US,80.19,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Comodoro Rivadavia,AR,76.86,few clouds,-45.8667,-67.5000,Austral Hotel
...,...,...,...,...,...,...,...
747,Bentiu,SS,75.20,clear sky,9.2333,29.8333,Mandela hôtel
750,Manaure,CO,81.86,broken clouds,11.7751,-72.4445,Hotel Palaaima
751,Puerto Narino,CO,79.11,moderate rain,-3.7703,-70.3831,Eware Refugio Amazonico
752,Kerema,PG,80.64,overcast clouds,-7.9631,145.7785,Frena Lodge
753,Cap Malheureux,MU,71.47,scattered clouds,-19.9842,57.6142,Pereybere Hotel & Spa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel e Churrascaria Pantaneira</dd>\n<dt>City</dt><dd>Pocone</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 74.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Austral Hotel</dd>\n<dt>City</dt><dd>Comodoro Rivadavia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Broadwater Mariner Resort</dd>\n<dt>City</dt><dd>Geraldton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 74.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Grace Sydney</dd>\n<dt>City</dt><dd>Sydney</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.58 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5  -20.3428   57.7575
7  -16.2567  -56.6228
10 -23.1203 -134.9692
12  22.0752 -159.3190
18 -45.8667  -67.5000
19 -21.2078 -159.7750
22 -28.7667  114.6000
24  -9.8000 -139.0333
26  -0.9492  100.3543
27 -33.8679  151.2073

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))